.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome > :nth-child(1) {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
}
#A{
    color: #06e758;
    font-size: 2.5rem;
    font-weight: bold;  
}
#B{
    color: #408fde;
    font-size: 2.5rem;
    font-weight: bold;  
}
#C{
    color: #808180;
    font-size: 2.5rem;
    font-weight: bold;  
}
#D{
    color: #6b6d6b;  
}