*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background: white;
    color: rgb(87, 87, 87);
    overflow: hidden;
    overflow-y: scroll;
}