.card{
    position: absolute;
    
}
.cards{
    width: 11rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 15rem;
    text-align: center;
    
}
.cards>*{
    position: relative;
    background: rgba(211, 210, 210, 0.15);
    border: 3px solid #15d675;
    box-shadow:  0px 15px 20px #aaacab47;
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
   
}
#cardT{
    animation: cardT;
    animation-duration: 5s;
}
@keyframes cardT{
    from{
        transform: translateY(500px);
    }
}
#cardB{
    animation: cardB;
    animation-duration: 5s;
}
@keyframes cardB{
    from{
        transform: translateY(-500px);
    }
}
img {
    height: 95px;
}
#AA{
    color: rgb(110, 110, 110);
    font-size: 12px;
}
.c-button{
   background: rgba(211, 210, 210, 0.26);
   box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08); 
   border-radius: 7px;
   border: none;
   padding: 10px;
   font-size: 16px;
   color: #1e5ac2;
   margin-top: 3%;
}