.testimonials_container {
    max-width: 700px;
    margin: auto;
}
.testimonials_item{
    text-align: center;
    padding: 0 1.25rem 1.25rem;
}
.thumb{
    height: 5.6rem;
    width: 5.6rem;
    margin: 0 auto;
}
.testimonials_title{
    margin-top: 0.75rem;
}
.subtitle{
    color: #309ae6;
    font-size: medium;
}
.comment{
    background-color: rgba(240, 239, 239, 0.235);
    padding: 1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    box-shadow:  0px 15px 20px #1d9ee91d;
    border-radius: 20px;
    position: relative;
    border: 2px solid #309ae6;
}
.comment::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(240, 239, 239, 0.235);;
    position: absolute;
    left: 49.5%;
    top: -0.625rem;
    transform: translateX(-7.5px);
}
.swiper-pagination-bullet{
    width: 0.5rem !important;
    height: 0.375rem !important;
    background-color: #309ae66a !important;
    opacity: 1 !important;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 0.2rem !important;
}
.swiper-pagination-bullet-active{
    width: 1.3rem !important;
    height: 0.38rem !important;
    background-color: #309ae6 !important;
}
*{
    margin-bottom: 5px;
}